{% extends 'base/base_left.html' %}
{% block css %}
    <style>
        .a-boder{
            border: 5px solid #CAC9C9;
        }
        .foot-span{
            padding-left: 10px;
            padding-right: 10px
        }
        .head-span{
            font-weight: bolder;
            padding-left: 10px;
            padding-right: 10px
        }
        .status-over{
            font-weight: bold;
            color: green;
        }
        .status-wait{
            font-weight: bold;
            color: yellow;
        }
        .status-running{
            color: red;
            font-weight: bold;
        }


    </style>
{% endblock %}

{% block content %}
    <div class="modal-content" >
        <div class="list-group" id="finish-list">

        </div>
    </div>

    <div class="pagination" id="page">

    </div>
{% endblock %}

{% block js %}

    <script type="text/javascript">
        $(function(){
                $.InitMenu('#over_list');          /* 控制左侧菜单的闭合 为点击的按钮添加激活的样式 */

                Initialize('#table-body',1);
            });


        function ChangePage(page){
            console.log("pppppppppppppppppppppppp", page);
            Initialize('#table-body',page);
        }

        function Initialize(tBody,page){
            $.Show('#shade,#loading');
            $.ajax({
                url:'/get_over_work/',
                type:'POST',
                traditional:true,
                data:{'page':page},
{#                data:{'finish_work':{'event_state__id': ['3']}},#}
                success: function (data) {
                    console.log("888888888888888888888888");
                    var callback = $.parseJSON(data);               /* 将后台返回的数据 序列化为字典*/
                    console.log("rrrrrrrrrrrrrrrrrrrrrr", callback);
                    EmbedIntoTable(callback.asset,"#finish-list");   // 将所有的数据都添加到id=table-body的tbody标签中
                    CreatePage(callback.page,'#page');
                },
                error:function(){
                    $.Hide('#shade,#loading');                              // ajax请求失败  仅仅遮罩层和加载层添加隐藏样式
                }
            })
        }

        function CreatePage(data,target){           // 创建分页
            $(target).empty().append(data);
        }

        function EmbedIntoTable(response,body){
            if(!response.status){                           // 如果status为False 则 直接弹出message中的数据
                alert(response.message);
            }else{
                $(body).empty();                    //清除tbody标签中的原内容
                $.each(response.data,function(key,value){       // key：列表中的ID     value：为一个大字典 包含了每条资产需要的18个值
{#                    console.log(key,value);#}
                    var head_spans = [];
                    var foot_span = [];
                    var head_div = [];
                    var foot_div = [];
                    var divs = [];
                    var work_state_mark = value.event_state__event_mark;          // 获取工单的状态
{#                   向列表中追加     创建一个td标签包含了一个input       创建一个input的标签#}
                    head_spans.push(CreateSpan({'class':'head-span'},{},value.idc__name));      // 追加一个span   IDC
                    head_spans.push(CreateSpan({'class':'head-span'},{},value.operation_type__operation));      // 追加一个span  操作类型
                    head_spans.push(CreateSpan({'class':'head-span'},{},value.specific__name));      // 追加一个span   工单编号
                    head_spans.push(CreateSpan({'class':'head-span'},{},  '标题：'+value.work_title));      // 追加一个span   工单编号
                    var maile_re = value.mail_re;
                    if (maile_re == "success"){
                        head_spans.push(CreateSpan({'class':'head-span', 'style':'float: right; color: green;'},{},  '邮件：'+value.mail_re));      // 追加一个span   工单编号

                    }else if(maile_re == "failed"){
                        head_spans.push(CreateSpan({'class':'head-span', 'style':'float: right; color: red;'},{},  '邮件：'+value.mail_re));
                    }else {
                        head_spans.push(CreateSpan({'class':'head-span', 'style':'float: right;'},{},  '邮件：'+ '未知'));
                    }


                    foot_span.push(CreateSpan({'class':'foot-span'}, {}, '优先级：'+value.priority_level__priority));
                    if(work_state_mark == "wait"){
                        foot_span.push(CreateSpan({'class':'foot-span', 'style': 'font-weight: bold; color: orange;'}, {}, '状态：'+value.event_state__event_type));
                    }else if (work_state_mark == "running"){
                        foot_span.push(CreateSpan({'class':'foot-span', 'style': 'font-weight: bold; color: red;'}, {}, '状态：'+value.event_state__event_type));
                    }else if (work_state_mark == "over"){
                        foot_span.push(CreateSpan({'class':'foot-span', 'style': 'font-weight: bold; color: green;'}, {}, '状态：'+value.event_state__event_type));
                    }else {
                        foot_span.push(CreateSpan({'class':'foot-span', 'style': 'font-weight: bold; color: blue;'}, {}, '状态：'+value.event_state__event_type));                    }
                    foot_span.push(CreateSpan({'class':'foot-span'}, {}, '创建时间：'+value.add_time));
                    head_div.push($.CreateBigDiv({'class': "msg-header"}, {}, head_spans));
                    foot_div.push($.CreateBigDiv({'class': "msg-foot"}, {}, foot_span));
                    divs.push(head_div);
                    divs.push(foot_div);
                    var As = CreateAs({'id':value.id,'href':'/work/detail/'+ value.id,'target':'_blank', 'class': 'list-group-item a-boder '},{},divs);

                    $(body).append(As);

                })

            }
        }
                //text ：一个input标签 为checkbox
        function CreateSpan(attrs,csses,text){
            var obj= document.createElement('span');      // 创建一个td的标签
            $.each(attrs,function(k,v){                 // 循环 属性的attrs
                $(obj).attr(k,v);
            });
            $.each(csses,function(k,v){                 // 循环 css的csses
                $(obj).css(k,v);
            });
            //为创建的td标签 添加html代码
            $(obj).html(text);
            return obj;
        }
        function CreateAs(attrs,csses,div_list){
            var obj= document.createElement('a');       // 创建一个A标签
            $.each(attrs,function(k,v){                 // {href     id     target}
                $(obj).attr(k,v);                       // 为创建的A标签 添加属性
            });
            $.each(csses,function(k,v){
                $(obj).css(k,v);
            });
            $.each(div_list,function(k,v){                   // 循环前面已经装有标签数据的列表 、
                $(v).appendTo($(obj));                  // 把$()中的元素追加到后面的$(obj)中  将列表中的标签追加到创建的tr中
            });
            return obj
        }
    </script>
{% endblock %}